<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link"routerLink="/create" > Add </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"routerLink="/login" style="float: right;"> Login </a>
      </li> -->
    </ul>
      <ul class="nav navbar-nav mr-sm-2">
        <li><a class="nav-link" routerLink="/signup" *ngIf="!userIsAuthenticated"><i class="fas fa-user-plus"></i> Sign Up</a></li>
        <li><a class="nav-link" routerLink="/login" *ngIf="!userIsAuthenticated"> <i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li><button class="nav-link" *ngIf="userIsAuthenticated" (click)="onLogout()" style="background-color: transparent;border: transparent;" > <i class="fas fa-sign-out-alt"></i> Logout</button></li>
      </ul>

  </div>
</nav>

