
<div class="sk">
  <div class="container-fluid" >
    <div class="spinner-border" *ngIf="isLoading" style="width: 5rem; height: 5rem; transition: width 4s;"  role="status"></div>
  <form (submit)="onLogin(postForm)"   *ngIf="!isLoading" #postForm="ngForm">
    <div class="form-group col-md-5">
      <label for="email">Email Id:</label>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fas fa-envelope"></i
        ></span>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
          ngModel
          #email="ngModel"
        />

      <div *ngIf="email.invalid && (email.touched)"
  class="alert alert-danger">

      <div *ngIf="email.errors.required && email.untouched">
       email is required.
      </div>
    </div>
    </div>

    </div>
    <div class="form-group col-md-5">
      <label>Password:</label>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fas fa-key"></i
        ></span>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
          ngModel
        />
      </div>
    </div>
    <div class="form-group  col-md-4">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="postForm.invalid"
        style="margin-top: 10px;"
        *ngIf="!isLoading"
      >
        Submit
      </button>

    </div>
  </form>
</div>
</div>
