.sk {
  width: 80%;
  margin: 3rem auto;
}

.alert
{
  font-weight: 500;
  margin: 0; padding: 0;
  background-color: transparent;
   border: transparent;
   color:#EA2027;
   font-size: 15px;
}

i:hover::before{

  color: #EA2027;
}

