<div class="sk">
<form  (submit)="onSavePost(postForm)"  #postForm="ngForm" >
  <div class="form-group col-md-9 ">
    <label >Name</label>
    <!-- <div class="input-group"> -->
    <div class="input-group-prepend">
    <span class="input-group-text " ><i class="fas fa-user "></i></span>
    <input type="text" class="form-control"  placeholder="Enter name" name = "title"
    [ngModel]="post?.title"  required minlength="3"  #title="ngModel" required>
    </div>

    <div *ngIf="title.invalid && (title.touched)"
    class="alert alert-danger" >
    <div *ngIf="title.errors.required">
      Name is required.
    </div>
    <div *ngIf="title.errors.minlength">
      Name must be at least 4 characters long.
    </div>
</div>
  </div>
  <div class="form-group col-md-9">

    <label for="exampleInputPassword1">Company's Name</label>
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-briefcase"></i></span>
    <input type="text"  class="form-control" id="exampleInputPassword1" placeholder="Enter your Company's Name" name="company"
    [ngModel]="post?.company" required  #company="ngModel">
    </div>

    <div *ngIf="company.invalid && (company.dirty || company.touched)"
    class="alert alert-danger">
    <div *ngIf="company.errors.required">

      Company's Name is required.
    </div>
    </div>
  </div>
  <div class="form-row col-md-12">
   <!-- <div class="form-group col-md-5 ">
    <label >Email address</label>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    <input type="email" class="form-control" id="email"  placeholder="Enter email" name = "email"
    [ngModel]="post?.email"   #email="ngModel"required>
    </div>
    </div>
    <div *ngIf="email.invalid && (email.touched || email.dirty)"
    class="alert alert-danger" >
    <div *ngIf="email.errors.required">
      email is required.
    </div>
    <div *ngIf="!validates.test(email.value)">
              <span style="color:red">Email not Valid</span>
           </div>
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div> -->
  <div class="form-group col-md-5">
    <label for="email">Email Id:</label>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
    <input type="email"
    class="form-control"
    id="email"
    pattern="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$"
     [ngModel]="post?.email"
      email="true"
      name="email"
      #email="ngModel" placeholder="Enter your email"
      required>
    </div>



      <div *ngIf="email.invalid && (email.touched)"
  class="alert alert-danger">

      <div *ngIf="email.errors.required && email.untouched">
       email is required.
      </div>
     <!-- <div *ngIf="!validates.test(email.value)">
        <span style="color:red">Email not Valid</span>
     </div> -->
     <div *ngIf="email.errors.pattern">
        <span style="color:red">Email not Valid</span>
     </div>


  </div>

  </div>
  <div class="form-group  col-md-4 ">
    <label >Mobile No</label>
    <div class="input-group-prepend" ><span class="input-group-text" style="color: #0984e3;">+91</span>
    <input type="number" class="form-control "  placeholder="Enter Mobile Number" name = "mblno"
    [ngModel]="post?.mblno"    #mblno="ngModel"  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" required>
</div>

    <div *ngIf="mblno.invalid && (mblno.touched)"
    class="alert alert-danger">
     <div *ngIf="mblno.errors.required">
      Mobile Number not Valid
    </div>
    <div *ngIf="mblno.errors.pattern">
      <span style="color:red">Number not Valid</span>
   </div>
   <div *ngIf="mblno.errors.maxlength || mblno.errors.minlength">
      Number must be at 10 characters long.
</div>
</div>
</div>
  </div>
  <div class="form-group  col-md-5 ">
    <label >Date of Birth</label>
    <div class="input-group-prepend" ><span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
    <input type="date" name="bday"
    [ngModel]="post?.bday" class="form-control"  #bday="ngModel" required></div>
    <div *ngIf="bday.invalid && (bday.touched)"
    class="alert alert-danger">
     <div *ngIf="bday.errors.required">
      Valid Number is required.
    </div>
   <div *ngIf="bday.errors.max || bday.errors.min">
      Number must be at 10 characters long.
</div>
</div>
  </div>

  <div class="form-group col-md-4 " >
    <label>Gender</label><br>
    <input type="radio" name="gender" value="Male"  [ngModel]="post?.gender" required> Male
    <input type="radio" name="gender" value="Female"  style="margin-left: 20px;"  [ngModel]="post?.gender" required> Female
    <input type="radio" name="gender" value="Other"  style="margin-left: 20px;"  [ngModel]="post?.gender" required> Other
  </div>
  <div class="form-group  col-md-6" >
  <label >Designation</label><br>
  <select class="custom-select" id="inputGroupSelect01" name="designation" [ngModel]="post?.designation" required>

    <option selected disabled>Choose</option>
    <option value="Jr.developer" required>Jr.developer</option>
    <option value="Sr.Developer" required>Sr.Developer</option>
    <option value="Manager" required>Manager</option>
    <option value="Team Leader" required>Team Leader</option>
    <option value="Hr" required>Hr</option>
    <option value="Account" required>Account</option>
    <option value="Admin" required>Admin</option>

  </select>
  </div>
  <div class="form-group col-md-5 " style="margin-top: 10px;" >
    <input type="checkbox" name="check" [ngModel]="post?.designation" required>I accept the terms and conditions.<br>
</div>

<div class="form-group  col-md-4">
  <button type="submit" class="btn btn-primary"  style="margin-top: 10px;">Submit</button>
</div>

</form>
</div>

