.sk {
  margin-top: 1rem;
  width: 60%;
  margin: auto;
}

.alert
{
  font-weight: 500;
  margin: 0; padding: 0;
  background-color: transparent;
   border: transparent;
   color:#EA2027;
   font-size: 15px;
}

/* ::placeholder{
  font-weight: 500;
  word-spacing: 2px;
  color: gray;
} */

i{
  color: #0984e3;
}
