<table class="table table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Company Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Designation</th>
      <th *ngIf="userIsAuthenticated" scope="col">Edit</th >
      <th *ngIf="userIsAuthenticated" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let post of posts; let i = index">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.company }}</td>
      <td>{{ post.email }}</td>
      <td>{{ post.mblno }}</td>
      <td>{{ post.bday }}</td>
      <td>{{ post.gender }}</td>
      <td>{{ post.designation }}</td>


      <td *ngIf="userIsAuthenticated">
        <a  class="btn btn-success" [routerLink]="['/edit', post.id]"
          ><i class="fas fa-user-edit"></i
        ></a>
      </td>
      <td>
        <button *ngIf="userIsAuthenticated" class="btn btn-danger"(click)="onDelete(post.id)">
          <i class="fas fa-user-minus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
